@model Sysbat.Models.Objeto

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_DetailsLayout.cshtml";
}

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Eliminar Objeto</h4>
    </div>
    <div class="modal-body">
        <h4>Está seguro que desea eliminar el Objeto</h4>
        <div class="form-group">
            @Html.DisplayFor(model => model.Nombre, new { @class = "form-control-static" })
        </div>
    </div>
@using (Html.BeginForm())
{
    <div class="modal-footer">
        <input type="submit" value="Eliminar" class="btn btn-danger"/>
    </div>
}
